div.gallery {
    border: 1px solid #ccc;
    margin: 6px;
    padding: 0px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    /* text-align: center; */
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 23.99999%;
  }
  p {
    margin-bottom: 0px;
    }