<button (click)="logout($event)" class="btn btn-danger w-50" [disabled]="flag">Logout
</button>
<div class="container">
    <div class="row">
        <div class="col-sm-2
        ">
        <!-- <button (click)="sortProductsAsc()">Sort Asc</button> -->
        <!-- <button (click)="sortProductsDesc()">Desc Desc</button> -->
            <select class="form-select" aria-label="Default select example" (change)="sortPrice($event)">
                <option selected>Sort</option>
                <option value="asc">Asc</option>
                <option value="dsc">Dsc</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label for="filter">Search: </label>
            <input id="filter" type="text" (change)="filter($event)">

            <!-- <input id="filter" type="text" #filterValue> -->
            <!-- <button (click)="filterBy(filterValue)">Filter</button> -->
        </div>
    </div>
    <div class="row">
        <div class="category" *ngFor="let cat of categories">
            <h2>{{cat.category}}</h2>
          </div>
    </div>
</div>
<div class="contianer">
    <div class="row ">
        <div class="col-sm-4 gallery" *ngFor="let item of dataList" [routerLink]="['/recipe-details', item.id]">
                <img src="{{item.image}}">
                <h6 class="title">{{item.name}}</h6>
                <span class="id">{{item.tags}}</span>
                <p class="category">{{item.cuisine}}</p>
        
            </div>
    </div>
</div>
